.env
.env.local
.env.*.local
.env.*.backup
.env.*.example

db.sqlite3
db.sqlite3-journal

venv/
env/
ENV/

.idea/

static/admin/
static/django_mptt_admin/
static/mptt/
static/ckeditor/
static/debug_toolbar/

.cache/
__pycache__/