{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center me-5" href="/">
            <div class="me-2">
                <img src="{% static 'icons/blog_icon.png' %}" alt="Logo" style="height: 40px;">
            </div>
            <span>Simple Blog</span>
        </a>

        {% if request.user.is_authenticated %}
        <ul class="navbar-nav me-auto gap-4">
            <li class="nav-item">
                <a class="nav-link px-3 py-2" href="{% url 'post_create' %}">Добавить статью</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3 py-2" href="#">Мои статьи</a>
            </li>
        </ul>
        {% endif %}

        <ul class="navbar-nav ms-auto gap-2">
            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link px-3 py-2" href="{% url 'profile_detail' request.user.profile.slug %}">
                        Профиль
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle px-3 py-2" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ request.user }}
                    </a>
                    <ul class="dropdown-menu text-small">
                        <li><a class="dropdown-item" href="{% url 'profile_detail' request.user.profile.slug %}">Мой профиль</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <form action="{% url 'logout' %}" method="post">{% csrf_token %}
                                <a href="#" class="dropdown-item" onclick="parentNode.submit();">Log Out</a>
                            </form>
                        </li>
                    </ul>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link px-3 py-2" href="{% url 'register' %}">Зарегистрироваться</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3 py-2" href="{% url 'login' %}">Вход</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
